input[type=text],
input[type=password],
textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}
input[type=submit] {
    margin-top: 1em;
}
p {
    text-align: justify;
}
label {
  float: left;
  width: 45%;
}
label.right {
    text-align: right;
    padding-right: .5em;
}
span.value {
  color: gray;
}
a label {
    float: none;
}
#mainmenu_links a * {
    cursor: pointer;
}
fieldset ul {
    list-style-type: none;
}
